/*Tag*/

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}
p{
    font-weight: 450;
    color: #afafaf;
}
h2{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;
}
















/*class*/
.navbar{
    padding:0 0 4.5rem;
}
.meet{font-family: 'Montserrat', sans-serif; font-size: 3.5rem; line-height: 1.5; font-weight:bold  ;}
.container-fluid{
    padding: 3% 15% 7%;
}
.nav-item{
    padding: 0 18px;
}
.navbar-brand{
    padding-left: 130px;
    font-weight:lighter;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-nav{
    padding-right: 250px;
}
.phone-image{
    transform: rotate(28deg);  
    position: absolute; 
    right: 20%;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif
}
.download-button{
    margin: 5% 3% 5% 0%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-image{
    font-size: 4rem;
    padding-bottom: 20px;
    color: #ef8172;

}
.feature-image:hover{
    color: #ff4c68;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 16%;
}
.pricing-row{
    text-align: center;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.copyright-bottom{
    position: relative;
    bottom: 0px;
}
.bottom-container{
    padding: 20px;
}
.pricing-col{
    padding-top: 30px;
}
.bottom-button{
    padding-top: 20px;
}
.bottom-icon{
    margin: 5px;
}





/*ID*/

#title {background-color: #ef8172;}
#features{
    padding: 7% 15% ;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
#testimonials{
    padding: auto 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#pricing{
    text-align: center;
    padding:50px 20%;
}
#cta{
    background-color: #ef8172;
    text-align: center;
    padding: 100px;
}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

@media (max-width: 1028px) {
    
    #title{text-align: center;}
    
    .phone-image{
        position: static;
        transform: rotate(0);
    }
}
